:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--vt-c-text-1);
  background-color: var(--vt-c-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: var(--vt-c-indigo-1);
}

body {
  margin: 0;
  /* display: flex; */
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: var(--vt-c-text-1);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--vt-c-white-soft);
  cursor: pointer;
  transition: border-color 0.25s;
  color: var(--vt-c-text-2);
}
button:hover {
  border-color: var(--vt-c-indigo-1);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--vt-c-text-1-light);
    /* background-color: var(--vt-c-bg-light); */
  }
  a:hover {
    color: var(--vt-c-indigo-1-light);
  }
  button {
    background-color: var(--vt-c-white-soft-light);
    color: var(--vt-c-text-2-light);
  }
}

/* Color Palette */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #1a1a1a;
  --vt-c-black-pure: #000000;
  --vt-c-black-soft: #242424;
  --vt-c-black-mute: #2c2c2c;

  --vt-c-indigo-1: #646cff;
  --vt-c-indigo-2: #535bf2;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(255, 255, 255, 0.12);
  --vt-c-divider-dark-2: rgba(255, 255, 255, 0.06);

  --vt-c-text-1: rgba(255, 255, 255, 0.87);
  --vt-c-text-2: rgba(255, 255, 255, 0.6);
  --vt-c-text-3: rgba(255, 255, 255, 0.38);

  /* semantic color variables for this project */
  --vt-c-bg: var(--vt-c-black-soft);
  --vt-c-bg-soft: var(--vt-c-black-mute);
  --vt-c-bg-alt: var(--vt-c-black);
  --vt-c-text: var(--vt-c-text-1);
  --vt-c-heading: var(--vt-c-text-1);
  --vt-c-text-light: var(--vt-c-text-2);

  --vt-c-text-1-light: #213547;
  --vt-c-text-2-light: #47657d;
  --vt-c-text-3-light: #839ea9;
  --vt-c-bg-light: #ffffff;
  --vt-c-bg-soft-light: #f8f8f8;
  --vt-c-bg-alt-light: #f2f2f2;
  --vt-c-indigo-1-light: #747bff;
}


html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}


.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


/* @media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
} */
